

{{#each rows}}

    <div id="lists">
<div id="list"><a type="button" href="#"><p id="menu">{{this.name}}</p></a></div>
    </div>
{{/each}}

{{#each products}}
    <div id="showcase">
        <div id="showcase-content">
            <div id="showcase-content-text">
                <h1>{{this.title}}</h1>
                <p>{{this.description}}</p>
            </div>
            <div id="showcase-content-image">
                <img src="{{this.image_url}}" alt="{{this.title}}">
            </div>
        </div>
    </div>
{{/each}}





